.navbar ul {
  background-color: #111;
  padding: 0;
}

.navbar li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.navbar a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.navbar a:hover {
  color: #800000;
}
